# The message displayed in the server list, under the servers name.
MOTD="A Minecraft Server"

# The port the server will run on inside the container.
SERVER_PORT=25565

# The port that will be mapped to the container's port.
# This is the port your host machine can connect to.
CONTAINER_PORT=25565

# The maximum amount of players that can join the server.
MAX_PLAYERS=20

# The game difficulty: "peaceful", "easy", "normal" or "hard".
DIFFICULTY="easy"

# Whether to enable hardcore mode.
HARDCORE=false

# The default gamemode for new players: "survival", "creative" or "adventure"
GAMEMODE="survival"

# Whether to switch to the default gamemode every time a player joins.
FORCE_GAMEMODE=false

# The world name (used to save and load world files)
LEVEL_NAME="world"

# The seed to use to generate new worlds
LEVEL_SEED=""

# Whether to generate structures like villages, mansions, etc.
GENERATE_STRUCTURES=true

# The name of the operator player (the player with admin permissions).
OP_PLAYER_NAME="Notch"

# The UUID of the operator player. You can find this using a service like https://mcuuid.net/.
OP_PLAYER_UUID="069a79f4-44e9-4726-a5be-fca90e38aaf5"

# If the `ops.json` file already exists, creating a new operator player will not have any effect.
# Setting this to `true` will override the existing `ops.json` file with a new one containing only the specified operator player.
OP_PLAYER_OVERRIDE=false